.yarn-integrity
yarn-debug.log*
yarn-error.log*
install-state.gz
node_modules
cache

.env
.env.test

.next
build
build.js
generated

.DS_Store
*.zip

.vscode

test-ts

.aws-sam

.overmind.sock
tsconfig-only-handler.json
*.tsbuildinfo